  <script>

  </script>
<%= will_paginate @users %>
<table class="table" >
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Birthday</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody class="sortable">
    <% @users.each do |user| %>
      <tr class="ui-state-default">
        <td><%= user.first_name %></td>
        <td><%= user.email %></td>
        <td><%= user.birthday %></td>
        <td><%= link_to 'Show', user %></td>
  
      </tr>
    <% end %>
  </tbody>
</table>
<ul class="sortable">
    <li>item 1</li>
    <li>item 2</li>
    <li>item 3</li>
    <li>item 4</li>
</ul>